.imagetext{
	text-align: center;
	text-decoration: 
}

.jumbotronheader{
	text-align: center;
	

}

.jumbocolor{
	background-color: rgb(217, 221, 220);

}

.jumbotrondetail{
	text-align: center;
}

.navtoright{
	position: absolute;
	right: 10px;
}

.profilepic{
	width: 20%;
	border-radius: 50%;
	margin-left: 40%;
}

.profile{
	padding: 10px;
	background-color: #e9ecef;
}

.profiletext{
	text-align: center;
}


.bg-light {
  background-color: rgb(200, 200, 200) !important;
}








